.carousel {
  position: relative;
  z-index: 1;
}

.slideWrap{
  position: relative;
  display: flex;
  height: 600px;
  padding: 60px;
  align-items: center;
  justify-content: center;
  background-size:cover;
  border-radius: 25px;

  @media  (max-width: $breakPoint) {
    height: 500px;
    padding: 30px;
  }
}

.textWrap {
  max-width: 900px;
  text-align: center;

  p {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    font-size: 1em;
    color: #fff;

    @media (max-width: $breakPoint) {
      padding: 10px;
    }
  }

  h2 {
    font-size: 3em;
    line-height: 1.1;
    color: $white;
    margin-bottom: 10px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);

    @media (max-width: $breakPoint) {
      font-size: 2.5em;
    }
  }

  .carousel-btn {
    font-size: 1em;
    color: #fff;
    background-color: $primaryColor;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;

    &:hover {
      letter-spacing: 4px;
    }
  }
}

.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
    -webkit-transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    -webkit-transform: scale(0.8) translateY(10px);
    -ms-transform: scale(0.8) translateY(10px);
    transform: scale(0.8) translateY(10px);
  }
}

//had to duplicate, couldn't figure out how to merge
.swiper:hover>.swiper-button-prev {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1) translateY(0px);
  -ms-transform: scale(1) translateY(0px);
  transform: scale(1) translateY(0px);
}

.swiper:hover>.swiper-button-next {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1) translateY(0px);
  -ms-transform: scale(1) translateY(0px);
  transform: scale(1) translateY(0px);
}