*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {scroll-behavior: smooth;}

body {
  margin: 0;
  padding: 0;
  color: $textColor;
  font-family: 'Source Sans Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
}
a {
  font-family: 'Source Sans Pro', sans-serif;
  color: $textColor;
  text-decoration: none;
}
h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Chillax', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

section {
  padding: 100px;
  @media (max-width: $breakPoint) {
    padding: 50px 20px;
  }
}