.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  margin-top: 80px;
  background-color: $white1;
  padding: 30px 0px 30px 0px;
}

.hero-bar {
  width: 90vw;
  max-width: 1400px;
  //padding: 40px;
  white-space: nowrap;
    overflow: hidden;
}

.name-bar {
  display: inline-flex;
  @media (max-width: $breakPoint2) {
    display:contents;
  }
}

.name-bar > h1 {
  color: $textColor;
  font-size: 96px;
  font-weight: 200;
  text-align: center;
  padding: 0px 30px 0px 30px;
  @media (max-width: $breakPoint) {
    font-size: 80px;
  }
}

.hero-bar > h3 {
  color: $textColor;
  font-size: 32px;
  align-items: center;
  text-align: right;
}

.hero-links {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 36px;
  text-align: right;
}

.hero-links > a {
  display: inline-block;
  color: $textColor;
  transform: scale(1) rotate(0deg);
  transition: transform 0.3s;
}
.hero-links > a:hover {
  display: inline-block;
  transform: scale(1.2) rotate(8deg);
  transition: transform 0.3s;
}

.ai, .aws {
  position: relative;
  left: 34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ai:hover, .aws:hover {
  left: 0px;
}


// .appBg {
//   position: absolute;
//   object-fit: cover;
//   top: 0px;
//   width: 100%;
//   height: 200%;
//   z-index: -100;
// }