.css-10vmhha:nth-child(1) {
    animation: 4s linear 0s infinite normal none running spin360, 1s linear 0s infinite alternate none running pulse;
}
.css-10vmhha {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    inset: 0px;
    margin: auto;
    border: 2px solid $black;
    border-radius: 50%;
 
  .css-10vmhha:nth-child(2) {
    transform: rotate(90deg);
    animation: 4s linear 0s infinite normal none running spin450, 1s linear 0s infinite alternate none running pulse;
  }
  .css-10vmhha {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    inset: 0px;
    margin: auto;
    border: 2px solid $black;
    border-radius: 50%;
  }
}