.projCont {
  width: 80vw;
  max-width: $contentMaxWidth;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.projCard {
  display: inline-block;
  height: 460px;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  background-color: $white1;
  margin: 45px 40px 5px 40px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s;
}

.projCard:hover {
  transform: scale(1.08);
  transition: transform 0.3s;
} 

.projImg {
  background-color: $white1;
  width: 300px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}

.projText {
  
}

.projTitle {
  padding: 20px 10px 5px 10px;
  font-size: 24px;
  // as="h2" style={{ padding: '20px 0 0 20px' }
}

.projDesc {
  padding: 0 25px 0 25px;
  font-size: 16px;
  text-align: center;
}

//==============================================================================

.projDetailCard {
  width: 80vw;
  max-width: $contentMaxWidth;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  background-color: $white1;
  border-radius: $bigBorRad;
  overflow: hidden;
}

.projBigImg {
  max-height: 32vw;
  width: 100%;
  object-fit: contain;
}

.projTitle2 {
  text-align: center;
  margin: 0;
  padding: 30px;
}
// ============ Applying entry styling =============
.projEntry {
  padding: 0 50px 50px 50px;
  text-align: left;
}

.projEntry p {

}

.projEntry h1, h2, h3, h4, h5, h6 {
  
}

.projEntry h1 {
  padding-bottom: 36px;
}

.projEntry h2 {
  padding-bottom: 32px;
}

.projEntry table {
  border-collapse: collapse;

  width: 100%;
  border: 1px solid #d3dce0;
}

.projEntry th,
.projEntry td {
  padding: 12px 16px;
  border: 1px solid #d3dce0;
}

.projEntry th {
  font-weight: bold;
  text-align: left;
}

/* Add a grey background to the first row of the table */
.projEntry th {
  background-color: #f2f2f2;
}

.projEntry th,
.projEntry td {
  padding: 12px 16px;
  border: 1px solid #d3dce0;
}

/* Add Forma 36 styles to the table */
.projEntry table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #d3dce0;
}

.projEntry th {
  font-weight: bold;
  text-align: left;
  background-color: #f2f2f2;
  padding: 12px 16px;
}

.projEntry td {
  padding: 12px 16px;
}