$breakPoint: 991px;
$breakPoint2: 690px;
$breakPoint3: 1000px;

$white1: #fff;
$white2: rgb(214,214,214);
$black: #000;
$textColor: rgb(30,30,30);
$lightText: rgb(110,110,110);
$blue: #1982FC;
$blueClear: rgb(25, 130, 252, 0.5);
$blue2: #473BF0;
$blue2Clear: rgb(71, 59, 240, 0.5);
$lightGrey: rgb(210,210,210);
$grey: #555555;
$darkGrey: rgb(50,50,50);
$dropShadow: rgb(190,190,190);
$background: rgb(245,245,245);
