$breakPoint: 991px;
$breakPoint2: 414px;
$white: #fff;
$black: #000;
$secondaryWhite: rgb(251,251,253);
$textColor: #111;
$blue: #1982FC;
$blueClear: rgb(25, 130, 252, 0.5);
$blue2: #473BF0;
$blue2Clear: rgb(71, 59, 240, 0.5);
$lightGrey: #555555;
$darkGrey: #333;
$dropShadow: rgb(210,210,210)
