$breakPoint: 991px;
$white: #fff;
$textColor: #111;
$primaryColor: #1982FC;
$primaryColorClear: rgb(25, 130, 252, 0.5);
$secondaryColor: #473BF0;
$secondaryColorClear: rgb(71, 59, 240, 0.5);
$borderColor: #555555;
$textColorAlt: #333;
